body {
    background-color: #e2dfdf;

}
h2 {
    text-align: center;
    font-family: serif;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #1b1515;
    color: rgb(0, 0, 0);
    font-size: 21px;
    text-decoration:underline;
}
.titulo1, .titulo3, .titulo5, .titulo7{
    margin-right: 1.7cm;
}
.titulo2, .titulo4, .titulo6, .titulo8{
    margin-right: 1.7cm;
}
h1.tt2{
    color:#000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 35px;
    margin-left: 9cm;
    font-weight: bold;
    letter-spacing: 0.5px;
}
img.sustentabilidade{
    height: 560px;
    width: 1400px;
    filter: grayscale(40%);
    filter: brightness(60%);
}
img.mobsustentavel{
    width: 550px;
    height:440px;
    margin-left: 2cm;
}
p, span.sp2{
    font-size: 21px;
    font-family: serif;
}
p.principal {
    text-align: justify;
    margin-right: 2cm;
    margin-left: 18cm;
    text-indent: 2.5em;
}
p.principal2{
    text-align: justify;
    margin-right: 2cm;
    margin-left: 2cm;
    text-indent: 2.5em;
}
span.sp2{
    font-weight: bold;
    font-family: serif;
    font-size: 21px;
}
div.content1, .content2, .content3, .content4, .content5, .content6, .content7 .content8{
    text-align: justify;
    font-size: 21px;
    font-family: serif;
    text-indent: 2.5em;
}
.content1{
    margin-left: 2cm;
    width: 550px;
    height:550px;
    box-shadow:none;
    float: left;
    padding: 50px 20px 100px 20px;
}
.content2{
    margin-right: 2cm;
    width: 550px;
    height:550px;
    box-shadow:none;
    float: right;
    padding: 50px 20px 100px 20px;
}
img.trens{
    width: 360px;
    height: 260px;
    margin-left: 2cm;
}
img.garrafas{
    width: 360px;
    height: 290px;
    margin-left: 2.4cm;
}
p.texto1, p.texto2, p.texto3, p.texto4, p.texto5, p.texto6, p.texto7, p.texto8{
    text-align: justify;
    text-indent: 2.5em;
}

.content3{
    margin-left: 2cm;
    width: 550px;
    height:490px;
    box-shadow:none;
    float: left;
    padding: 0px 20px 100px 20px;
}
.content4{
    margin-right: 2cm;
    width: 550px;
    height:490px;
    box-shadow:none;
    float: right;
    padding: 0px 20px 100px 20px;
}
img.park{
    width: 360px;
    height: 295px;
    margin-left: 2cm;
}
img.teleferico{
    width: 360px;
    height: 270px;
    margin-left: 2.2cm;
}
.content5{
    margin-left: 2cm;
    width: 550px;
    height:580px;
    box-shadow:none;
    float: left;
    padding: 0px 20px 10px 20px;
}
img.bike{
    margin-left: 2cm;
    width: 360px;
    height: 260px;
}
.content6 {
    margin-right: 2cm;
    width: 550px;
    height:580px;
    box-shadow:none;
    float: right;
    padding: 0px 20px 10px 20px;
}

img.jornada{
    width: 360px;
    height: 315px;
    margin-left: 2.2cm;
}

.content7{
    margin-left: 2cm;
    width: 550px;
    height:520px;
    box-shadow:none;
    float: left;
    padding: 0px 20px 10px 20px;
}

img.combustiveis{
    margin-left: 2cm;
    width: 370px;
    height: 255px;
}

.content8{
    margin-right: 2cm;
    width: 550px;
    height:520px;
    box-shadow:none;
    float: right;
    padding: 0px 20px 10px 20px;
}

img.embarcações{
    width: 360px;
    height: 290px;
    margin-left: 2.2cm;
}
div.bt1{
    float: left;
    display: flex;
    margin-left: 2cm;
    margin-top: 0.7cm;
}
div.bt2{
    float:right;
    display: flex;
    margin-right: 2cm;
    margin-top: 0.7cm;
}