body {
    background-color: #e2dfdf;
}
img.capa{
    height: 560px;
    width: 1400px;
    filter: grayscale(40%);
    filter: brightness(60%);
}

h1.tp{
    color:#000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 35px;
    margin-left: 12.5cm;
    font-weight: bold;
    letter-spacing: 0.5px;
}

h2.tp2, .tp3, .tp4, .lei{
    text-align: center;
    font-family: serif;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: #1b1515;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration:underline;
}
div.fotos{
    width: 500px;
    height: 400px;
    float: left;
}
div.fotos2{
    width: 500px;
    height: 400px;
    float: right;
}
img.mob{
    margin-left: 2cm;
   width: 550px;
   height: 400px;
}
img.mob2{
    margin-right: 2cm;
    width: 550px;
   height: 400px;
}

p.t1, p.desafio2{
    text-align: justify;
    font-family: serif;
    margin-right: 2cm;
    margin-left: 2cm;
    text-indent: 2.5em;
    font-size: 21px;
}
span.mobil{
    font-family: serif;
    font-size: 21px;
    font-weight: bold;
}
div.topicos{
    text-align: justify;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 21px;
    font-family: serif;
}
li.l1{
    text-align: justify;
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 21px;
    font-family: serif;
}

img.desafios{
    width: 560px;
    height: 390px;
    margin-left: 2cm;
}

p.desafio1{
    text-align: justify;
    font-size: 21px;
    font-family: serif;
    margin-right: 2cm;
    margin-left: 18cm;
    text-indent: 2.5em;
}

p.lei1{
    margin-left: 2cm;
    text-indent: 2.5em;
    font-size: 21px;
    text-align: justify;
    margin-right: 2cm;
    font-family: serif;
}

div.topicos2{
    text-align: justify;
    margin-left: 2cm;
    font-size: 21px;
    height: 280px;
    width: 500px;
    font-family: serif;
}
img.foto{
    width: 625px;
    height: 300px;
    margin-right: 2cm;
}

p.lei2{
    margin-left: 2cm;
    font-size: 21px;
    font-family: serif;
}

div.bt1{
    float: left;
    display: flex;
    margin-left: 2cm;
}
div.bt2{
    float:right;
    display: flex;
    margin-right: 2cm;
}